@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Car Renting Database</h1>
    <p>Here you can have an overview over our clients, cars, approved locations and rental inquiries.</p>
</div>
