@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    The personal information we collect about you depends on the nature of your dealings with us or what you
    choose to share with us.
    The personal information we collect about you may include:
    <br />● name;
    <br />● mailing or street address;
    <br />● date of birth;
    <br /> ● email address;
    <br />● phone number
</p>
